.login-logo {
    margin-top: 200px;
}

.login-text {
    color: #F0663F;
    font-size: 32px;
    font-weight: bold;
    margin-top: 2px;
}

.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

.login-form input {
    box-sizing: border-box;
    padding: 8px 24px;
    margin-bottom: 8%;
    border: 1px solid #F0663F;
    border-radius: 200px;
    font-size: 16px;
    width: 338px;
    height: 56px;
}

.login-form button {
    box-sizing: border-box;
    border: 1px solid #F0663F;
    border-radius: 200px;
    color: #FFFFFF;
    background-color: #F0663F;
    padding: 8px 24px;
    font-size: 16px;
    width: 338px;
    height: 56px;
}

.find-id-pw {
    font-size: 12px;
    margin-top: 16px;
    text-decoration: underline;
}