.reservation-head {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84px;
    background-color: #f0663f;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    flex-shrink: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

.reservation-mid {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%; /* 너비를 고정 */
    left: 0;
    right: 0;
    top: 72px;
    height: calc(100% - 128px); /* 높이를 계산하여 설정 */
    overflow: auto;
}

.reservation-mid::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera에서 네이티브 스크롤바 숨기기 */
}

.payment-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 129px;
    padding: 32px 16px;
    box-sizing: border-box;
    border-top: 4px solid #f5f5f5; 
    background-color: #ffffff;
}

.payment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.row h1 {
    font-size: 24px;
    font-weight: 400;
    color: #262626;
    margin: 0;
    padding: 0;
}

.payment h2 {
    font-size: 20px;
    font-weight: 400;
    color: #262626;
    margin: 0;
    padding: 0;
}

.payment p {
    font-size: 12px;
    font-weight: 400;
    color: #262626;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 15%;
}

.confirm h1 {
    font-size: 32px;
    font-weight: 700;
    color: #f0663f;
    margin: 0;
    padding: 0;
    margin-bottom: 37px;
}

.confirm p {
    font-size: 20px;
    font-weight: 400;
    color: #262626;
    margin: 0;
    padding: 0;
    width: 66%;
    margin-top: 37px;
}

.reservation-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 154px;
    box-sizing: border-box;
    padding: 16px;
    border-bottom: #c4c4c4 solid 1px;
}

.reservation-content h1 {
    font-size: 16px;
    font-weight: 400;
    color: #262626;
    margin: 0;
    padding: 0;
}

.reservation-content p {
    font-size: 12px;
    font-weight: 400;
    color: #7b7b7b;
    margin: 0;
    padding: 0;
}

.reservation-content > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 24px;
}

.cancel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65.13px;
    height: 24px;
    background-color: #ffffff;
    color: #7b7b7b;
    border-radius: 20px;
    border: #7b7b7b solid 1px;
    font-size: 12px;
    font-weight: 400;
    user-select: none;
    box-sizing: border-box;
}

.cancle-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 121px;
    box-sizing: border-box;
    padding: 16px;
    bottom: 0;
    border-top: #c4c4c4 solid 1px;
}

.cancle-info h1 {
    font-size: 16px;
    font-weight: 400;
    color: #262626;
    margin: 0;
    padding: 0;
}

.cancle-info p {
    font-size: 12px;
    font-weight: 400;
    color: #7b7b7b;
    margin: 0;
    padding: 0;
}

.schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 299px;
    box-sizing: border-box;
    padding-top: 32px;
}

.schedule-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 376px;
    height: 72px;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 27px;
}

.schedule {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 360px;
    height: 56px;
    box-sizing: border-box;
    border: #f0663f solid 3px;
    padding-left: 16px;
}

.schedule button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 47px;
    background-color: #f5f5f5;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 50%;
    user-select: none;
}

.schedule > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 56px;
    box-sizing: border-box;
    padding: 0 32px;
}